<nav class="default__nav nav__social">
  <ul class="default__list nav__social__list">
    <li class="default__list__item nav__social__list__item">
      <a href="https://github.com/{{ site.github }}" class="github default__link nav__social__list__item__link" target="_blank" rel="noopener noreferrer">
        <span>Github</span>
      </a>
    </li>
    <li class="default__list__item nav__social__list__item">
      <a href="https://www.facebook.com/{{ site.facebook.group }}" class="facebook--group default__link nav__social__list__item__link" target="_blank" rel="noopener noreferrer">
        <span>Grupo</span>
      </a>
    </li>
    <li class="default__list__item nav__social__list__item">
      <a href="https://www.facebook.com/{{ site.facebook.page }}" class="facebook--page default__link nav__social__list__item__link" target="_blank" rel="noopener noreferrer">
        <span>Página</span>
      </a>
    </li>
    <li class="default__list__item nav__social__list__item">
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter default__link nav__social__list__item__link" target="_blank" rel="noopener noreferrer">
        <span>Twitter</span>
      </a>
    </li>
  </ul>
</nav>